:root {
  --background-0: #ffffff;
  --background-1: #f5f5f5;
  --background-2: #e0e0e0;
  --font-primary: #000000;
  --font-secondary: #616161;
  --font-link: #304ffe;
  --font-link-hover: #6200ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-0: #202020;
    --background-1: #181818;
    --background-2: #323232;
    --font-primary: #f5f5f5;
    --font-secondary: #bdbdbd;
    --font-link: #2196f3;
    --font-link-hover: #03a9f4;
  }
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  display: grid;
  grid-template-rows: minmax(240px, calc(34vh - 48px)) auto 84px;
  font-family: 'Inter', '思源黑体 CN', 'Source Han Sans', 'Source Han Sans CN',
    '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Helvetica Neue', 'sans-serif';
  background-color: var(--background-1);
  overflow-y: overlay;
  box-sizing: border-box;
}

@media (max-width: 426px) {
  body {
    grid-template-rows: minmax(240px, calc(34vh - 48px)) auto 72px;
  }
}

a {
  color: var(--font-link);
  text-decoration: none;
  transition: all 0.4s;
}

a:hover,
a:active,
a:focus {
  color: var(--font-link-hover);
}
